@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

:root {
    --cor-um: #466ef2;
    --cor-dois: #7bf8ff;
    --cor-tres: #042943;
    --cor-quatro: #00ff7b;
    --font-um: "Share Tech", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font-um);
    font-size: 16px;
    color: var(--cor-um);
}

main {
    background-image: url("assets/cursos.png");
    background-size: cover;
    height: 100vh;
}
/* SETA E OPÇÂO ABRIR E FECHAR */
.seta {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.open .seta {
    transform: rotate(-180deg);
}
.close .info {
    display: none;
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 5rem;
    height: 100vh;
    background-color: var(--cor-tres);
    transition: 0.4s;
}
.navbar:hover {
    width: 16rem;
}
.mais,
.seta,
.conjunto {
    display: none;
}
.navbar:hover .mais{
    display: inline-block;
}
.navbar:hover .seta{
    display: block;
}
.navbar:hover .conjunto{
    display: block;
}




/* DIV CONTEUDO */
.div {
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.conteudo {
    text-align: left;
}

.inicio {
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    margin-top: 2em;
}
.titulo {
    font-size: 22px;
}
.mais {
    color: var(--cor-um);
    font-size: 18px;
}
.info {
    margin-top: 0.5em;
}
.curso_link {
    white-space: nowrap;
    font-size: 18px;
    color: var(--cor-dois);
    text-decoration: none;
}
.curso_link:hover {
    color: var(--cor-quatro);
}